adf-testing-series/adf/pipeline/PL_Stage_Titles.json
{
	"name": "PL_Stage_Titles",
	"properties": {
		"activities": [
			{
				"name": "Copy src_Titles to stg_Titles",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set RunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "RunId",
								"value": {
									"value": "@variables('RunId')",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE stg.Titles",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "DS_ASQL_ExternalSystem",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "dbo",
							"TableName": "Titles"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_AdfTesting",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "stg",
							"TableName": "Titles"
						}
					}
				]
			},
			{
				"name": "Log pipeline start",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_ASQL_AdfTesting",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "stg",
							"TableName": "Authors"
						}
					}
				}
			},
			{
				"name": "Set RunId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Log pipeline start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunId",
					"value": {
						"value": "@string(activity('Log pipeline start').output.firstRow.RunId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log pipeline end",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy src_Titles to stg_Titles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"rowsCopied": {
							"value": {
								"value": "@activity('Copy src_Titles to stg_Titles').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runId": {
							"value": {
								"value": "@variables('RunId')",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ASQL_AdfTesting",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"RunId": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}